body{
    margin: 0;
    padding: 0;
    background: #A8D0E6;
    font-family: Arial;
}

.container{
    display: flex;
    justify-content: center;
  }

/*Nav bar*/

.nav-bar{
    height: 30px;
    width: 100%;
    top: 0;
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
}

.nav-bar ul{
    list-style: none;
    background: #F76C6C;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-bar li{
    margin-right: 50px;
    display: inline-block;

}

.nav-bar a{
    text-decoration: none;
    color: #fff;
    width: 100px;
    display: block;
    padding: 20px 15px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.nav-bar a:hover{
    background: #ff8c8c;
}

.nav-bar img {
    width: 40px;
    height: 60px;
    margin-left: 10px;
    float: left;
  }

  .spacer{
    height: 50px;
  }



  /* About Us Page */

  h3{
    font-family: Arial;
  }

  .form-title {
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
    color: whitesmoke;

  }
  .flex-item-about{
    padding: 50px;
    flex: 1 1 33%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background: #cee9f8;
    margin: 40px;
  }

  .flex-item-about:hover{
    transform: scale(1.05);
  }

  .flex-item-about-title{
    flex: 1 1 2%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    background: #374785;
    
  }
  .flex-item-about-title:hover { 
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35); 
  }

  .flex-item-about-spacer{
    padding: 5px;
    flex: 1 1 30%;
  }

  .about-big{
    font-size: 20px;
    font-weight: bold;
  }



  /* form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 40px;
    width: 600px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background: #cee9f8;
  } */

  form{
    display: flex;
    flex-direction: column;
    width: 400px;
    background: #F76C6C;
    margin: auto;
    padding: 20px 60px 30px 40px;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .form-button{
    border: none;
  background-color: #FF7373;
  box-shadow: 0px 5px 0px 0px #CE4646;
  outline: none;
  border-radius: 2px;
  padding: 5px 8px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  cursor: pointer;
  }

  .form-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }

  

  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    margin-bottom: 10px; 
  }

/*  /  /  /  /  /

Typing Game Page

/  /  /  /  / */


.typinggame-body {
	font-family: 'Raleway', sans-serif;
}

.bg {
	background-color: #F76C6C;
}

.wrapper {
	max-width: 600px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding: 2%;
	height: 500px;
}



.scoreWrap {float: left;}
.timeWrap {float: right;}

.outerWrap:after {
	content: "";
	display: block;
	clear: both;
}



.typinggame-button {
   border: none;
  background-color: #FF7373;
  box-shadow: 0px 5px 0px 0px #CE4646;
  outline: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.typinggame-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.scoreWrap p, .scoreWrap span, .timeWrap p, .timeWrap span {
    font-size: 30px;
    color: #FF7373;
}

.wordsWrap {
	margin-top: 50px;
}

.words span{
    font-size: 60px;
    letter-spacing: 1px;
    color: #ECF0F1;
}